<!DOCTYPE html>
<html>
	<head>
		<title><%= htmlWebpackPlugin.options.title %></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<meta name="description" content="Draw pixels with other people in real-time on an (almost) infinite canvas!">
		<meta name="keywords" content="pixel, game, draw, online, cursors, canvas, world">

		<style><%=require('./css/style.css')%></style>
	</head>
	<body>
		<div id="viewport">
			<canvas id="animations"></canvas>
		</div>
		<div id="load-scr">
			<ul id="load-ul">
				<li>
					<img id="logo" src="<%=require('./img/owop.png')%>" width="224px" height="190px" alt="Our World Of Pixels" draggable="false"/>
				</li>
				<noscript>
					<li id="noscript-msg" class="whitetext framed">
						<p>World Of Pixels is an (almost) infinite canvas where you can draw online with other people, or explore many user created worlds.</p>
						<p>But to use the website, you first need to <a href="http://www.enable-javascript.com/" target="_blank">enable javascript</a>!</p>
					</li>
				</noscript>
				<li id="status" class="whitetext hide">
					<img id="spinner" src="<%=require('./img/loading.gif')%>"/>
					<span id="status-msg">Loading...</span>
				</li>
				<li id="load-options" class="framed hide">
					<button id="reconnect-btn">Reconnect</button>
				</li>
				<script>document.getElementById('status').className='whitetext';</script>
			</ul>
		</div>
		<div id="palette-bg"></div>
		<span id="xy-display"></span>
		<span id="playercount-display"></span>
		<div id="windows" class="pixelated"></div>
		<div id="palette">
			<div id="palette-create">
				<input id="palette-input" type="color"/>
			</div>
			<div id="palette-colors"></div>
		</div>
		<button id="help-button"><img src="<%=require('./img/help.png')%>" /></button>
		<div id="dev-chat" class="hide">
			<ul id="dev-chat-messages"></ul>
		</div>
		<div id="chat">
			<ul id="chat-messages"></ul>
			<textarea id="chat-input" draggable="false" type="text" maxlength="80" placeholder="Chat here" disabled></textarea>
		</div>
		<div id="help" class="hidden">
			<span class="title">Help</span>
			<button id="help-close" class="windowCloseButton"></button>
			<div class="content whitetext">
				<div class="links">
					<a target="_blank" href="http://ourworldofpixels.gamepedia.com/"><img src="<%=require('./img/wiki.png')%>" /></a>
					<a target="_blank" href="https://discord.gg/WppfUMw"><img src="<%=require('./img/discord.png')%>" /></a>
					<a target="_blank" href="https://reddit.com/r/OurWorldOfPixels"><img src="<%=require('./img/reddit.png')%>" /></a>
					<a target="_blank" href="https://www.facebook.com/OurWorldOfPixels/"><img src="<%=require('./img/facebook.png')%>" /></a>
					<a target="_blank" href="https://www.paypal.me/InfraRaven"><img src="<%=require('./img/donate.png')%>" /></a>
				</div>
				<hr />
				Type /help for a list of all commands
				<ul>
					<li><b>F1</b> - Hide part of the GUI</li>
					<li><b>G</b> - Toggle grid</li>
					<li><b>F</b> - Manually add color</li>
					<li><b>Shift + click</b> / <b>Middle click</b> - Move camera</li>
					<li><b>Ctrl + Z</b> - Undo pixel (+ Shift = bulk undo)</li>
					<li><b>Ctrl + Scroll</b> - Change zoom level</li>
					<li><b>P / M / O</b> - Select Pipette / Move / Cursor tool</li>
				</ul>
				<label><input id="no-sound" type="checkbox">Disable sounds</label>
				<label><input id="hex-coords" type="checkbox">Hex coords</label>
			</div>
		</div>
	</body>
</html>
